.masjidnow-container{
  background-color:white;
  color:black;
  padding:2px;
  text-align:center;
}

.masjidnow-date{
  font-size:14px;
  font-weight:bold;
}

.masjidnow-masjid-name{
  font-weight:bold;
  font-size:11px;
  padding:5px;
}

.masjidnow-iqamah-date{
  font-size:11px;
  padding:3px;
  color:#555;
}

.masjidnow-salah-timings-table{
  margin-right:auto;
  margin-left:auto;
  margin-top:10px;
  margin-bottom:10px;
  width:90%;
}

.masjidnow-salah-timings-table td{
  padding:7px;
  padding-top:7px;
  padding-bottom:7px;
}

.masjidnow-salah-timings-table th{
  text-align:center;
  font-size:11px;
}

.masjidnow-salah-timings-table .masjidnow-salah-name{
  font-weight:bold;
  text-align:left;
}

.masjidnow-salah-timings-table .masjidnow-salah-time-adhan{
  text-align:center;
  padding:4px;
}

.masjidnow-salah-timings-table .masjidnow-salah-time-iqamah{
  text-align:center;
  padding:4px;
  font-weight:bold;
}

/**
 * *************
 * *******
 *  THEMES 
 * ********
 * *************
 * **/
 
.masjidnow-theme-default.masjidnow-container
{
  color: #666;
}

.masjidnow-theme-default .masjid-salah-row-alt{
  background-color:#EEE;
  color:#555;
}


.masjidnow-theme-blue.masjidnow-container{
}

.masjidnow-theme-blue .masjid-salah-row-alt{
  background-color:#EEF;
}


